EMPIRE_DOCKER_NETWORK=empire-net

EMPIRE_POSTGRES_CONTAINER=empire-postgres
EMPIRE_POSTGRES_DATA_DIR=/Users/me/empire/empire-db/postgres
POSTGRES_VERSION=18.4
POSTGRES_DB=empire
POSTGRES_USER=empire
POSTGRES_PASSWORD=change-me
POSTGRES_HOST_PORT=5432

EMPIRE_PGBOUNCER_CONTAINER=empire-pgbouncer
PGBOUNCER_VERSION=v1.25.1-p0
PGBOUNCER_HOST_PORT=6432
PGBOUNCER_POOL_MODE=transaction
PGBOUNCER_MAX_CLIENT_CONN=100
PGBOUNCER_DEFAULT_POOL_SIZE=20

EMPIRE_FLYWAY_CONTAINER=empire-flyway
FLYWAY_VERSION=12.6.1
FLYWAY_DEFAULT_SCHEMA=core
FLYWAY_SCHEMAS=core,stonks
FLYWAY_LOCATIONS=filesystem:/flyway/sql
FLYWAY_CONNECT_RETRIES=20
FLYWAY_BASELINE_ON_MIGRATE=true
FLYWAY_VALIDATE_MIGRATION_NAMING=true